# Local files
__pycache__
.ipynb_checkpoints
data/HIV/seq-times.dat
DMS/
drafts/
figures/old/
old/
grant/
slides/
src/MPL/.dirstamp
src/MPL/.deps/
src/MPL/*.o
src/MPL/test/
VRC26/
dms-analysis.ipynb
figures-bkup.py
figures_grant.py
figures_slides.py
figures-grant.ipynb
figures-slides.ipynb
src-MPL-HIV.tar.gz
src-wfsim-data.tar.gz
supplemental-analysis.ipynb
supplemental-figures.ipynb

# Directories with large files
src/MPL/HIV
src/wfsim/data
