# Local files
__pycache__
.ipynb_checkpoints
CLEAR/__pycache__/
MPL/src/.dirstamp
MPL/src/.deps/

# Uncompressed input/output
CLEAR/data/*.dat
CLEAR/data/*.df
CLEAR/out/*.dat
CLEAR/out/*.df
EandR/data/*.dat
EandR/out/*.dat

# Job files
wfsim/jobs/
MPL/jobs/
CLEAR/jobs/
EandR/jobs/
